<!DOCTYPE html>
{% extends "layout/base_view.html" %}
{% load static %}
{% block content %}
    <!-- Display special discount or new product image -->
    <div class="container">

    </div>
    <!-- Random show product -->
    <div class="container border-bottom">
        {% for product in products %}
            <h1>{{ product.title }}</h1>
            <img src="{{ product.image.url }}">
            <p>{{ product.price }}</p>
            <p>{{ product.created}}</p>
            <p>{{ product.updated }}</p>
        {% endfor %}
    </div>
    <!-- show brand of product -->

{% endblock %}