<!DOCTYPE html>
{% extends 'layout/base_view.html' %}
{% block content %}
    <!-- Demo -->
    <div class="container">
        <h1>List</h1>
        <div class="coll container">
            <ul class="list-group">
            {% for product in cate %}
                <li class="list-group-item">
                    {{ product.title }}
                    <div class="float-right">
                        <button type="button" class="btn btn-outline-dark"><a href="{{ product.id }}">Show</a> </button>
                        <button type="button" class="btn btn-outline-dark"><a href="{% url 'products:product-update' product.id %}">Update</a> </button>
                        <button type="button" class="btn btn-outline-dark"><a href="{% url 'products:product-delete' product.id %}">Delete</a> </button>
                    </div>
                </li>
            {% endfor %}
            </ul>
        <!-- url to create product -->
        <button type="button" class="btn btn-outline-dark"><a href="{% url 'products:product-create' %}">Create</a> </button>
        </div>
    </div>
    <div class="container">
        <div>
            {% for product in cate %}
                {{ product.image }}
            {% endfor %}
        </div>
    </div>
{% endblock %}