<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Coming soon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static '/css/style.css' %}">
    <link type="text/scss" href="{% static 'sass/style.scss' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
</head>
<body>
    <!-- Nanav -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Brand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:list' %}">Product</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'order:detail' %}">Order</a>
                  </li>
                </ul>
              </div>
            </nav>
    <!-- context -->

        {% block content %}

        {% endblock %}

    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Shop</h3>
                <p>About</p>

            </div>
            <div class="col-sm">
                <h3>Contact</h3>
                <p>street ...</p>
                <p>7am - 6pm</p>
            </div>
        </div>
    </div>

</body>
</html>